<html ng-app="TheyWorkForYou">
	<head>
		<title> TheyWork4You </title>
		<link rel='stylesheet' href='style.css'>
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<script type="text/javascript" src="js/libs/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<div class="top">
			<div class="row">
				<div class="col-2">
					<a href="index.html" style="color:white"><img src="img/icon.png" alt="TheyWork4You" height="125" width="125"> </a>
				</div>
				<div class="col-2">
					<ul class="menu">
						<li class="menu_item"><a href="index.html">Home</a></li>
						<li class="pipe">|</li>
						<li class="menu_item"><span title="Lordes"><a href="lords">Lords</a></span></li>
						<li class="pipe">|</li>
						<li class="menu_item"><span title="Membros da Assembleia Legislativa"><a href="mlas">MLA's</a></span></li>
						<li class="pipe">|</li>
						<li class="menu_item" style="border-bottom: 2px solid white;"><span title="Membros do Parlamento"><a href="msps" style="color:white">MSP's</a></span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="medium">
			<div class="row" ng-controller="mspsController as msp">
				<div class="col-3">
					<center><h2>Conheça aqui os MSP's!</h2>
					<i class="fa fa-arrow-circle-down" style="font-size:25px;margin-bottom:20px;"></i></center>
					<div class="box" ng-repeat="x in msps">
						<span style="font-weight: bold;">Nome: </span> {{x.name}}<br>
						<span style="font-size:13px;">{{x.name}}</span><br><br>
						<!--<span style="font-weight: bold;">Partido: </span> Liberal Democrat<br>!-->
						<!--<span style="float:right;font-size:14px;"><span style="font-weight: bold;">ID Person:</span> {{xx.id}}</span><br>!-->
					</div>
					<div class="final-count">
						<span style="font-weight: bold;">Total de MSP's: </span> {{total}}<br>
					</div>
				</div>
				<div class="col-3">
					<center><h2>Descubra mais detalhes...</h2>
					<i class="fa fa-search-plus" style="font-size:25px;margin-bottom:20px;"></i></center>
					<div class="temas-debates">
						<span class="titulo">Quais os debates em que o MSP participou?</span>
						<form class="formulario" ng-submit="debates()">
							<input type="text" name="fname" placeholder="Nome do MSP" ng-model="MSPNameDebates">
							<input type="submit" value="Pesquisar"><br>
						</form>
						<ul class="resultados-temas" ng-show="debt">
							<li class="result" ng-repeat="debs in debates"><span class="numbers">-</span> {{debs.debate}}<br><br></li>
						</ul>
						<span class="titulo">Quantas vezes um MSP saiu das "house"?</span>
						<form class="formulario" ng-submit="leftHouse()">
							<input type="text" name="fname" placeholder="Nome do MSP" ng-model="nomeMSP">
							<input type="submit" value="Pesquisar"><br>
						</form>
						<div class="resultado-saiu-house" ng-show="leftH">
							O MSP {{nameMSP}} deixou <span class="result">{{totalLeft}}</span> vezes as "house".<br><span style="font-weight: bold;font-size:15px;">Razões:</span><br>
							<ul class="resultados-razoes">
								<li class="result" ng-repeat="rsn in reasons"><span class="numbers">-</span> {{rsn.reasons}}<br></li>
							</ul>
						</div>
						<span class="titulo">Descubra o MSP mais antigo!</span>
						<form class="formulario" ng-submit="ancient()">
							<input type="submit" value="Descobrir" style="width:81%;margin-left:10%;"><br>
						</form>
						<div class="resultado-mais-antigo" ng-show="old">
							O MSP mais antigo é o <span class="result"> {{ancient}}</span>.
						</div>
						<span class="titulo">Qual o debate em que o MSP participou de <br><span style="margin-left:10%"> forma mais ativa?</span></span>
						<form class="formulario" ng-submit="mostTalkedDebate()">
							<input type="text" name="fname" placeholder="Nome do MSP" ng-model="LordNamemostTalkedDebate">
							<input type="submit" value="Pesquisar"><br>
						</form>
						<div class="resultado-mais-antigo" ng-show="mostTalkedDebateShow">
							O debate em que o {{LordNamemostTalkedDebate}} participou mais ativamente foi o <span class="result">{{mostTalkedDebate}}</span> com <span class="result">{{mostTalkedDebateN}}</span> ocorrências.
						</div>
						<span class="titulo">Quais as questões colocadas por um MSP <br><span style="margin-left:10%"> num tema?</span></span>
						<form class="formulario" ng-submit="quests()">
							<input type="text" name="fname" placeholder="Nome do MSP" ng-model="nameMSPQuest">
							<select style="width:81%" ng-model="selectTheme">
								<option value="" disabled selected>Escolha o Tema</option>
								<option ng-repeat="tema in temas" value="{{tema.unnest}}">{{tema.unnest}}</option>
							</select> 
							<input class="botao" type="submit" value="Pesquisar"><br>
						</form>
						<ul class="resultados-mais-antigo" ng-show="questionsShow">
							As questões são as seguintes:
							<li class="result" ng-repeat="quest in questions"><span class="numbers">-</span> {{quest}}<br><br></li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<center><h2>As pesquisas continuam...</h2>
					<i class="fa fa-search-plus" style="font-size:25px;margin-bottom:20px;"></i></center>
					<span class="titulo">Quantas vezes o MSP disse esta palavra?</span>
					<form class="formulario" ng-submit="countWord()">
						<input type="text" name="fname" placeholder="Nome do MSP" style="width:81%" ng-model="MSPNameCountWord">
						<input type="text" name="fname" placeholder="Palavra a Pesquisar" ng-model="word">
						<input type="submit" value="Pesquisar"><br>
					</form>
					<div class="resultado-nr-vezes-palavra" ng-show="nword">
						A palavra {{word}} foi usada <span class="result">{{nrWord}}</span> vezes.
					</div>
					<span class="titulo">Saiba quanto tempo durou o debate do tema <br><span style="margin-left:10%"> que procura!</span></span>
					<form class="formulario" ng-submit="numberOfSessions()">
						 <select style="width:81%" ng-model="selectTheme2">
								<option value="" disabled selected>Escolha o Tema</option>
								<option ng-repeat="tema in temas" value="{{tema.unnest}}">{{tema.unnest}}</option>
							</select> 
						<input class="botao" type="submit" value="Pesquisar"><br>
					</form>
					<div class="resultado-duracao-tema" ng-show="nSessionsShow">
						O Tema {{selectTheme2}} teve a duração de <span class="result">{{nSessions}}</span>.
					</div>
					<span class="titulo">Em quantas e quais moções estiveram dois <br><span style="margin-left:10%">MSP's juntos? </span></span>
					<form class="formulario" ng-submit="twoMSPS()">
						<input type="text" name="fname" placeholder="Nome do Primeiro MSP" ng-model="nameMSP1" style="width:81%">
						<input type="text" name="fname" placeholder="Nome do Segundo MSP" ng-model="nameMSP2">
						<input type="submit" value="Pesquisar"><br>
					</form>
					<div class="resultado-duracao-tema" ng-show="twoMSPSShow">
						Estiveram juntos em <span class="result">{{nTwoMsps}}</span> moções que são as seguintes: 
						<ul class="resultados-mais-antigo" ng-show="nTwoMspsShow">
							Os discursos são os seguintes:
							<li class="result" ng-repeat="mc in mocoes"><span class="numbers">-</span> {{mc.unnest}}<br><br></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>